name: Deploy Application
on: 
   workflow_dispatch:

jobs:
  ReadJSON:
    name: "Reading JSON Object"
    runs-on: ubuntu-latest
    outputs:
      deployment-matrix: ${{ steps.export-deployment-matrix.outputs.deployment-matrix }}

    steps:
    - uses: actions/checkout@v2

    - name: Export deployment matrix
      id: export-service-deployment-matrix
      run: |
        JSON="$(cat ./deployment-config.json)"
        JSON="${JSON//'%'/'%25'}"
        JSON="${JSON//$'\n'/'%0A'}"
        JSON="${JSON//$'\r'/'%0D'}"
        echo "::set-output name=deployment-matrix::$JSON"

  Ring:
    name: "${{ matrix.server.displayName }}"
    runs-on: ubuntu-latest
    needs: [ReadJSON]
    strategy:
      matrix:
        server: ${{ fromJson(needs.ReadJSON.outputs.deployment-matrix) }}
    steps:
    - run: echo "${{ matrix.server.name }}"
    - run: echo "${{ matrix.server.ip }}"
    - run: echo "${{ matrix.server.username }}"
    - run: echo "${{ matrix.server.port }}"
